#################################
# Build artifacts (ALL projects)
#################################
**/bin/
**/obj/

#################################
# Visual Studio
#################################
.vs/
**/.vs/

#################################
# User / IDE specific
#################################
*.user
*.suo
*.userosscache
*.sln.docstates

#################################
# ASP.NET Core
#################################
**/Properties/launchSettings.json
**/appsettings.Development.json

#################################
# Logs
#################################
**/logs/
**/*.log

#################################
# Rider / VS Code
#################################
.idea/
.vscode/

#################################
# OS
#################################
.DS_Store
Thumbs.db